.Inventory {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 500px;

  background-color: #333;
  border: solid 1px #000;
  border-radius: 2px;
  padding: 10px;

  font-family: monospace;
  color: white;

  cursor: move;
  pointer-events: all;
  user-select: none;
}

.Inventory .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;
}
.Inventory .header button {
  border: none;
  background-color: #0000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  pointer-events: all;
}

.Inventory .inner {
  background-color: #222;
  margin-top: 10px;
  padding: 10px;
  height: 249px;
  overflow: hidden;
  overflow-y: scroll;
}
