.UserInterface {
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  user-select: none;
}
